.table_container {
  max-height: 55vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 2rem;
}

.custom_table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  position: relative;

  thead {
    position: sticky;
    top: 0;
    background-color: #fff;
  }
}

.custom_table th {
  background-color: #67b980;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

.custom_table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  background-color: #edf7eb;
}

.error_row td {
  background-color: #f1d8d8;
}
